/*
colour pallette
#E8F7EE honeydew
#B8C4BB ash gray
#663F46 catawba
#3C362A olive drab 7
#C9D6EA periwinkle crayola
*/

@font-face {
  src: url("./inter-fonts/Inter-VariableFont.ttf");
  font-family: inter;
}

body {
  font-family: "inter", sans-serif;
  margin: 30px;
}

button {
  background-color: #9aa1ab;
  color: whitesmoke;
  border: 0px;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 5px;
  font-weight: bold;
  font-size: medium;
}

button:hover {
  filter: drop-shadow(0px 0px 0.8px #0b0a08);
}

#title {
  margin: 5px 10px;
}

#title_description {
  margin: 5px 10px;
}

#new_task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  margin: 25px 3vw;
  align-items: center;
}

#new_task_content {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#new_task_title,
#new_task_body {
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
}

#new_task_title::placeholder,
#new_task_body::placeholder {
  text-align: left;
}

#new_task_title {
  margin: 5px;
  padding: 5px 10px;
}

#new_task_body {
  margin: 5px;
  height: 75px;
  padding: 5px 10px;
}

.character_count {
  font-size: 0.8em;
  text-align: right;
  padding: 3px 10px;
  color: #3c362a;
}

#filter_section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.filter_button {
  margin: 10px;
}

.task_list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

.task {
  background-color: whitesmoke;
  color: #3c362a;
  padding: 10px;
  border-radius: 5px;
  min-height: 150px;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task:hover {
  filter: drop-shadow(5px 5px 4px #b8c4bb);
}

#task_details {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

#date_and_check {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

footer {
  text-align: center;
}
